.bg-white {
    background-color: rgb(255, 255, 255)
}
.main-paragraph {
    color:blue
}
.hero-section {
    background-image: url(../img/img/pattern.png)
}
.hero-section {
    background-color:rgb(130, 169, 242)
}
.bg-yellow {
    background-color:rgb(255, 255, 0)
}
.section-footer {
    background-image: url(../img/img/monitor.jpg);
}
.tr {
    background-color: skyblue
}
.tr {
    background-color: skyblue
}
.thead {
    background-color: rgb(106, 178, 206)
}
.fne-color {
    background-color: gray;
}